## EXPLORATORY DATA ANALYSIS OF FORBES 2017 LIST OF WORLD'S BILLIONAIRES

### Import Libraries

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

sns.set()
import warnings
warnings.filterwarnings('ignore')

In [2]:
plt.rcParams["figure.figsize"] = [10.00, 5.50]
plt.rcParams["figure.autolayout"] = True

### Get an overview of what the dataset entails

In [3]:
f_b = pd.read_csv('Forbes Worlds Billionaires.csv')

In [4]:
f_b.head(3)

,Rank,Name,Age,Source,Industry,Gender,Continent,Country,Headquarters,State,Net Worth,Title
0,1.0,Jeff Bezos,54.0,Amazon,Technology,Male,North America,United States,WA,Washington,112.0,"CEO and Founder, Amazon.com"
1,2.0,Bill Gates,62.0,Microsoft,Technology,Male,North America,United States,WA,Washington,90.0,"Cofounder, Bill & Melinda Gates Foundation"
2,3.0,Warren Buffett,87.0,Berkshire Hathaway,Finance and Investments,Male,North America,United States,NE,Nebraska,84.0,"CEO, Berkshire Hathaway"

In [5]:
f_b.tail(2)

,Rank,Name,Age,Source,Industry,Gender,Continent,Country,Headquarters,State,Net Worth,Title
2255,NaN,Zhang Zhongneng & family,54.0,aluminum,Manufacturing,Male,Asia,China,NaN,Guangdong,NaN,NaN
2256,NaN,Zhou Yifeng & family,39.0,liquefied petroleum gas,Energy,Female,Asia,China,NaN,Jiangsu,NaN,NaN

In [6]:
f_b.shape

(2257, 12)

In [7]:
f_b.dtypes

Rank            float64
Name             object
Age             float64
Source           object
Industry         object
Gender           object
Continent        object
Country          object
Headquarters     object
State            object
Net Worth       float64
Title            object
dtype: object

## Work on missing values

In [8]:
f_b.isna().sum()

Rank              49
Name               0
Age               72
Source             0
Industry           0
Gender            17
Continent         27
Country            0
Headquarters    1663
State           1651
Net Worth         49
Title           1910
dtype: int64

### Get the missing values of each column in percentages

In [9]:
(f_b.isna().sum()/len(f_b))*100

Rank             2.171023
Name             0.000000
Age              3.190075
Source           0.000000
Industry         0.000000
Gender           0.753212
Continent        1.196278
Country          0.000000
Headquarters    73.681879
State           73.150199
Net Worth        2.171023
Title           84.625609
dtype: float64

### The above analysis shows more than half of the data in column : Title, State and Headquarters are missing. For this reason I would be dropping the columns as the missing dataset is too big to fill in

In [10]:
f_b1 = f_b.drop(columns=['Title','State','Headquarters'])

In [11]:
f_b1.shape

(2257, 9)

### Get the first 100  ranks, as that is what i would work on later, but would like to do some data cleaning on the entire datase

In [12]:
f_b100 = f_b1[:100]

In [13]:
f_b100.shape

(100, 9)

### check for any missing values in f_b100

In [14]:
f_b100.isna().sum()

Rank         0
Name         0
Age          3
Source       0
Industry     0
Gender       1
Continent    0
Country      0
Net Worth    0
dtype: int64

In [15]:
f_b100[f_b100.isna().any(axis=1)]

,Rank,Name,Age,Source,Industry,Gender,Continent,Country,Net Worth
26,27.0,Beate Heister & Karl Albrecht Jr.,66.0,supermarkets,Fashion & Retail,NaN,Europe,Germany,29.8
54,55.0,Hinduja family,NaN,diversified,Diversified,Male,Europe,United Kingdom,19.5
76,77.0,Thomas & Raymond Kwok,NaN,real estate,Real Estate,Male,Asia,Hong Kong,16.5
89,88.0,David & Simon Reuben,NaN,"investments, real estate",Real Estate,Male,Europe,United Kingdom,15.5

### change the dtype of Rank and  Age  to int, but since Age column as NAN, the conversion will throw an error. Thus the need to manipulate the NAN in Age column. Will use the mean value of age in the coresponding continent and use the most frequent gender in the corresponding continent

### Select only rows with continent == 'Europe'

In [16]:
f_b100EU = f_b100[f_b100['Continent'] == 'Europe']

In [17]:
f_b100EU['Age'].describe()

count    21.000000
mean     68.142857
std      13.062487
min      47.000000
25%      55.000000
50%      67.000000
75%      80.000000
max      92.000000
Name: Age, dtype: float64

In [18]:
f_b100EU['Gender'].describe()

count       22
unique       2
top       Male
freq        19
Name: Gender, dtype: object

In [19]:
f_b100EU['Gender'].unique().tolist()

['Male', 'Female', nan]

In [20]:
f_b100EU['Gender'] = f_b100EU['Gender'].fillna('Male')

In [21]:
f_b100EU['Age'] = f_b100EU['Age'].fillna(68.0)

### Re-insert the subset into the f_b100 dataframe

In [22]:
f_b100[f_b100['Continent'] == 'Europe'] = f_b100EU

### Select only rows with continent == 'Asia'

In [23]:
f_b100AS = f_b100[f_b100['Continent'] == 'Asia']
f_b100AS

,Rank,Name,Age,Source,Industry,Gender,Continent,Country,Net Worth
16,17.0,Ma Huateng,46.0,internet media,Technology,Male,Asia,China,45.3
18,19.0,Mukesh Ambani,60.0,"petrochemicals, oil & gas",Energy,Male,Asia,India,40.1
19,20.0,Jack Ma,53.0,e-commerce,Technology,Male,Asia,China,39.0
22,23.0,Li Ka-shing,89.0,diversified,Diversified,Male,Asia,Hong Kong,34.9
23,24.0,Hui Ka Yan,59.0,real estate,Real Estate,Male,Asia,China,30.3
24,24.0,Lee Shau Kee,90.0,real estate,Real Estate,Male,Asia,Hong Kong,30.3
25,26.0,Wang Jianlin,63.0,real estate,Real Estate,Male,Asia,China,30.0
39,39.0,Masayoshi Son,60.0,"internet, telecom",Telecom,Male,Asia,Japan,22.7
42,43.0,Yang Huiyan,36.0,real estate,Real Estate,Female,Asia,China,21.9
49,50.0,He Xiangjian,75.0,home appliances,Manufacturing,Male,Asia,China,20.1
50,50.0,Lui Che Woo,88.0,casinos,Gambling & Casinos,Male,Asia,Hong Kong,20.1
52,52.0,Henry Sy,93.0,diversified,Diversified,Male,Asia,Philippines,20.0
55,55.0,Tadashi Yanai,69.0,fashion retail,Fashion & Retail,Male,Asia,Japan,19.5
56,57.0,Vladimir Lisin,61.0,"steel, transport",Metals & Mining,Male,Asia,Russia,19.1
58,58.0,Azim Premji,72.0,software services,Technology,Male,Asia,India,18.8
59,60.0,Alexey Mordashov,52.0,"steel, investments",Metals & Mining,Male,Asia,Russia,18.7
60,61.0,Lee Kun-Hee,76.0,Samsung,Diversified,Male,Asia,South Korea,18.6
61,62.0,Lakshmi Mittal,67.0,steel,Metals & Mining,Male,Asia,India,18.5
62,63.0,Wang Wei,48.0,package delivery,Service,Male,Asia,China,18.2
63,64.0,Leonid Mikhelson,62.0,"gas, chemicals",Energy,Male,Asia,Russia,18.0
64,65.0,Charoen Sirivadhanabhakdi,73.0,"drinks, real estate",Food and Beverage,Male,Asia,Thailand,17.9
67,68.0,Takemitsu Takizaki,72.0,sensors,Manufacturing,Male,Asia,Japan,17.5
68,69.0,William Ding,46.0,online games,Technology,Male,Asia,China,17.4
69,69.0,R. Budi Hartono,77.0,"banking, tobacco",Finance and Investments,Male,Asia,Indonesia,17.4
74,75.0,Michael Hartono,78.0,"banking, tobacco",Manufacturing,Male,Asia,Indonesia,16.7
75,75.0,Joseph Lau,66.0,real estate,Real Estate,Male,Asia,Hong Kong,16.7
76,77.0,Thomas & Raymond Kwok,NaN,real estate,Real Estate,Male,Asia,Hong Kong,16.5
77,78.0,Vagit Alekperov,67.0,oil,Energy,Male,Asia,Russia,16.4
81,82.0,Gennady Timchenko,65.0,"oil, gas",Energy,Male,Asia,Russia,16.0
83,83.0,Vladimir Potanin,57.0,metals,Metals & Mining,Male,Asia,Russia,15.9
86,87.0,Zhang Zhidong,46.0,internet media,Technology,Male,Asia,China,15.6
88,88.0,Andrey Melnichenko,46.0,"coal, fertilizers",Energy,Male,Asia,Russia,15.5
91,91.0,Li Shufu,54.0,automobiles,Automotive,Male,Asia,China,15.3
92,93.0,Mikhail Fridman,53.0,"oil, banking, telecom",Energy,Male,Asia,Russia,15.1
94,95.0,Dhanin Chearavanont,78.0,diversified,Diversified,Male,Asia,Thailand,14.9
95,96.0,Robert Kuok,94.0,"palm oil, shipping, property",Diversified,Male,Asia,Malaysia,14.8
97,98.0,Shiv Nadar,72.0,software services,Technology,Male,Asia,India,14.6
98,99.0,Viktor Vekselberg,60.0,"metals, energy",Energy,Male,Asia,Russia,14.4

In [24]:
f_b100AS['Age'].describe()

count    37.000000
mean     65.486486
std      14.569034
min      36.000000
25%      54.000000
50%      65.000000
75%      75.000000
max      94.000000
Name: Age, dtype: float64

In [25]:
f_b100AS['Age'] = f_b100AS['Age'].fillna(65)
f_b100AS

,Rank,Name,Age,Source,Industry,Gender,Continent,Country,Net Worth
16,17.0,Ma Huateng,46.0,internet media,Technology,Male,Asia,China,45.3
18,19.0,Mukesh Ambani,60.0,"petrochemicals, oil & gas",Energy,Male,Asia,India,40.1
19,20.0,Jack Ma,53.0,e-commerce,Technology,Male,Asia,China,39.0
22,23.0,Li Ka-shing,89.0,diversified,Diversified,Male,Asia,Hong Kong,34.9
23,24.0,Hui Ka Yan,59.0,real estate,Real Estate,Male,Asia,China,30.3
24,24.0,Lee Shau Kee,90.0,real estate,Real Estate,Male,Asia,Hong Kong,30.3
25,26.0,Wang Jianlin,63.0,real estate,Real Estate,Male,Asia,China,30.0
39,39.0,Masayoshi Son,60.0,"internet, telecom",Telecom,Male,Asia,Japan,22.7
42,43.0,Yang Huiyan,36.0,real estate,Real Estate,Female,Asia,China,21.9
49,50.0,He Xiangjian,75.0,home appliances,Manufacturing,Male,Asia,China,20.1
50,50.0,Lui Che Woo,88.0,casinos,Gambling & Casinos,Male,Asia,Hong Kong,20.1
52,52.0,Henry Sy,93.0,diversified,Diversified,Male,Asia,Philippines,20.0
55,55.0,Tadashi Yanai,69.0,fashion retail,Fashion & Retail,Male,Asia,Japan,19.5
56,57.0,Vladimir Lisin,61.0,"steel, transport",Metals & Mining,Male,Asia,Russia,19.1
58,58.0,Azim Premji,72.0,software services,Technology,Male,Asia,India,18.8
59,60.0,Alexey Mordashov,52.0,"steel, investments",Metals & Mining,Male,Asia,Russia,18.7
60,61.0,Lee Kun-Hee,76.0,Samsung,Diversified,Male,Asia,South Korea,18.6
61,62.0,Lakshmi Mittal,67.0,steel,Metals & Mining,Male,Asia,India,18.5
62,63.0,Wang Wei,48.0,package delivery,Service,Male,Asia,China,18.2
63,64.0,Leonid Mikhelson,62.0,"gas, chemicals",Energy,Male,Asia,Russia,18.0
64,65.0,Charoen Sirivadhanabhakdi,73.0,"drinks, real estate",Food and Beverage,Male,Asia,Thailand,17.9
67,68.0,Takemitsu Takizaki,72.0,sensors,Manufacturing,Male,Asia,Japan,17.5
68,69.0,William Ding,46.0,online games,Technology,Male,Asia,China,17.4
69,69.0,R. Budi Hartono,77.0,"banking, tobacco",Finance and Investments,Male,Asia,Indonesia,17.4
74,75.0,Michael Hartono,78.0,"banking, tobacco",Manufacturing,Male,Asia,Indonesia,16.7
75,75.0,Joseph Lau,66.0,real estate,Real Estate,Male,Asia,Hong Kong,16.7
76,77.0,Thomas & Raymond Kwok,65.0,real estate,Real Estate,Male,Asia,Hong Kong,16.5
77,78.0,Vagit Alekperov,67.0,oil,Energy,Male,Asia,Russia,16.4
81,82.0,Gennady Timchenko,65.0,"oil, gas",Energy,Male,Asia,Russia,16.0
83,83.0,Vladimir Potanin,57.0,metals,Metals & Mining,Male,Asia,Russia,15.9
86,87.0,Zhang Zhidong,46.0,internet media,Technology,Male,Asia,China,15.6
88,88.0,Andrey Melnichenko,46.0,"coal, fertilizers",Energy,Male,Asia,Russia,15.5
91,91.0,Li Shufu,54.0,automobiles,Automotive,Male,Asia,China,15.3
92,93.0,Mikhail Fridman,53.0,"oil, banking, telecom",Energy,Male,Asia,Russia,15.1
94,95.0,Dhanin Chearavanont,78.0,diversified,Diversified,Male,Asia,Thailand,14.9
95,96.0,Robert Kuok,94.0,"palm oil, shipping, property",Diversified,Male,Asia,Malaysia,14.8
97,98.0,Shiv Nadar,72.0,software services,Technology,Male,Asia,India,14.6
98,99.0,Viktor Vekselberg,60.0,"metals, energy",Energy,Male,Asia,Russia,14.4

In [26]:
f_b100AS['Gender'].describe()

count       38
unique       2
top       Male
freq        37
Name: Gender, dtype: object

### Re-insert back into the f_b100 dataframe

In [27]:
f_b100[f_b100['Continent'] == 'Asia'] = f_b100AS

### check to see if all nan has been filled out

In [28]:
f_b100.isna().sum()

Rank         0
Name         0
Age          0
Source       0
Industry     0
Gender       0
Continent    0
Country      0
Net Worth    0
dtype: int64

### The cell above shows there is no more missing value / nan in the f_b100 dataframe, so now change the dtype of Rank and Age to int

In [29]:
f_b100[['Rank','Age']] = f_b100[['Rank','Age']].astype(int)

In [30]:
f_b100.head(2)

,Rank,Name,Age,Source,Industry,Gender,Continent,Country,Net Worth
0,1,Jeff Bezos,54,Amazon,Technology,Male,North America,United States,112.0
1,2,Bill Gates,62,Microsoft,Technology,Male,North America,United States,90.0

### Check for unique values and duplicate vallues

In [31]:
f_b100.duplicated().value_counts() # using duplicated() on whole df does not give a true
                                 #picture of duplicated values in each col

False    100
dtype: int64

In [32]:
f_b100['Rank'].nunique()  # there are only 78 unique values instead of 100, meaning some people share the same rank

78

In [33]:
f_b100['Name'].nunique()  # there are 100 unique names, so no name is repeated

100

In [34]:
#n = f_b100['Name'].duplicated()
#n.value_counts()

In [35]:
#f_b100[n]

In [36]:
#f_b100[['Rank','Net Worth']].value_counts(sort=False)

In [37]:
r = f_b100[['Rank','Net Worth']].duplicated()

In [38]:
r.value_counts()# there are about 22 duplicated value each for rank and net worth

False    78
True     22
dtype: int64

In [39]:
f_b100[r] # this shows the rank and net worth that areduplicated

,Rank,Name,Age,Source,Industry,Gender,Continent,Country,Net Worth
8,8,David Koch,77,Koch Industries,Diversified,Male,North America,United States,60.0
24,24,Lee Shau Kee,90,real estate,Real Estate,Male,Asia,Hong Kong,30.3
32,32,David Thomson,60,media,Media & Entertainment,Male,North America,Canada,25.0
34,34,John Mars,82,"candy, pet food",Food and Beverage,Male,North America,United States,23.6
37,37,Dietrich Mateschitz,73,Red Bull,Food and Beverage,Male,Europe,Austria,23.0
39,39,Masayoshi Son,60,"internet, telecom",Telecom,Male,Asia,Japan,22.7
48,48,Len Blavatnik,60,diversified,Diversified,Male,North America,United States,20.2
50,50,Lui Che Woo,88,casinos,Gambling & Casinos,Male,Asia,Hong Kong,20.1
52,52,Henry Sy,93,diversified,Diversified,Male,Asia,Philippines,20.0
55,55,Tadashi Yanai,69,fashion retail,Fashion & Retail,Male,Asia,Japan,19.5
58,58,Azim Premji,72,software services,Technology,Male,Asia,India,18.8
69,69,R. Budi Hartono,77,"banking, tobacco",Finance and Investments,Male,Asia,Indonesia,17.4
70,69,Gina Rinehart,64,mining,Metals & Mining,Female,Oceania,Australia,17.4
73,73,Stefan Persson,70,H&M,Fashion & Retail,Male,Europe,Sweden,16.8
75,75,Joseph Lau,66,real estate,Real Estate,Male,Asia,Hong Kong,16.7
78,78,James Ratcliffe,65,chemicals,Manufacturing,Male,Europe,United Kingdom,16.4
80,80,Iris Fontbona,75,mining,Metals & Mining,Female,South America,Chile,16.3
83,83,Vladimir Potanin,57,metals,Metals & Mining,Male,Asia,Russia,15.9
84,83,Lukas Walton,31,Walmart,Fashion & Retail,Male,North America,United States,15.9
88,88,Andrey Melnichenko,46,"coal, fertilizers",Energy,Male,Asia,Russia,15.5
89,88,David & Simon Reuben,68,"investments, real estate",Real Estate,Male,Europe,United Kingdom,15.5
91,91,Li Shufu,54,automobiles,Automotive,Male,Asia,China,15.3

In [40]:
f_b100[7:25]

,Rank,Name,Age,Source,Industry,Gender,Continent,Country,Net Worth
7,8,Charles Koch,82,Koch Industries,Diversified,Male,North America,United States,60.0
8,8,David Koch,77,Koch Industries,Diversified,Male,North America,United States,60.0
9,10,Larry Ellison,73,software,Technology,Male,North America,United States,58.5
10,11,Michael Bloomberg,76,Bloomberg LP,Media & Entertainment,Male,North America,United States,50.0
11,12,Larry Page,44,Google,Technology,Male,North America,United States,48.8
12,13,Sergey Brin,44,Google,Technology,Male,North America,United States,47.5
13,14,Jim Walton,69,Walmart,Fashion & Retail,Male,North America,United States,46.4
14,15,S. Robson Walton,73,Walmart,Fashion & Retail,Male,North America,United States,46.2
15,16,Alice Walton,68,Walmart,Fashion & Retail,Female,North America,United States,46.0
16,17,Ma Huateng,46,internet media,Technology,Male,Asia,China,45.3
17,18,Francoise Bettencourt Meyers,64,L'Oreal,Fashion & Retail,Female,Europe,France,42.2
18,19,Mukesh Ambani,60,"petrochemicals, oil & gas",Energy,Male,Asia,India,40.1
19,20,Jack Ma,53,e-commerce,Technology,Male,Asia,China,39.0
20,21,Sheldon Adelson,84,casinos,Gambling & Casinos,Male,North America,United States,38.5
21,22,Steve Ballmer,61,Microsoft,Technology,Male,North America,United States,38.4
22,23,Li Ka-shing,89,diversified,Diversified,Male,Asia,Hong Kong,34.9
23,24,Hui Ka Yan,59,real estate,Real Estate,Male,Asia,China,30.3
24,24,Lee Shau Kee,90,real estate,Real Estate,Male,Asia,Hong Kong,30.3

In [41]:
f_b100.groupby(['Gender','Continent']).describe()#.T #count()

                      Rank                                               \
                     count        mean        std    min     25%    50%
Gender Continent
Female Asia            1.0   43.000000        NaN   43.0   43.00   43.0
       Europe          3.0   45.333333  35.907288   18.0   25.00   32.0
       North America   4.0   47.750000  29.124732   16.0   29.50   46.0
       Oceania         1.0   69.000000        NaN   69.0   69.00   69.0
       South America   1.0   80.000000        NaN   80.0   80.00   80.0
Male   Africa          1.0  100.000000        NaN  100.0  100.00  100.0
       Asia           37.0   62.486486  24.814447   17.0   50.00   64.0
       Europe         20.0   51.500000  27.335152    4.0   35.50   45.5
       North America  30.0   33.300000  27.860676    1.0   10.25   25.0
       South America   2.0   32.500000   4.949747   29.0   30.75   32.5

                                      Age             ...               \
                         75%    max count       mean  ...    75%   max
Gender Continent                                      ...
Female Asia            43.00   43.0   1.0  36.000000  ...  36.00  36.0
       Europe          59.00   86.0   3.0  60.666667  ...  63.50  64.0
       North America   64.25   83.0   4.0  64.000000  ...  70.50  78.0
       Oceania         69.00   69.0   1.0  64.000000  ...  64.00  64.0
       South America   80.00   80.0   1.0  75.000000  ...  75.00  75.0
Male   Africa         100.00  100.0   1.0  60.000000  ...  60.00  60.0
       Asia            82.00   99.0  37.0  66.270270  ...  75.00  94.0
       Europe          74.25   97.0  20.0  69.250000  ...  80.25  92.0
       North America   51.00   94.0  30.0  67.033333  ...  79.75  87.0
       South America   34.25   36.0   2.0  78.500000  ...  78.75  79.0

                     Net Worth                                             \
                         count       mean        std   min     25%    50%
Gender Continent
Female Asia                1.0  21.900000        NaN  21.9  21.900  21.90
       Europe              3.0  27.666667  13.400498  15.8  20.400  25.00
       North America       4.0  26.075000  13.657568  15.9  18.075  21.20
       Oceania             1.0  17.400000        NaN  17.4  17.400  17.40
       South America       1.0  16.300000        NaN  16.3  16.300  16.30
Male   Africa              1.0  14.100000        NaN  14.1  14.100  14.10
       Asia               37.0  20.832432   7.887862  14.4  16.000  18.00
       Europe             20.0  25.425000  16.122128  14.7  16.700  21.05
       North America      30.0  40.680000  25.529191  15.0  20.050  34.00
       South America       2.0  25.450000   2.757716  23.5  24.475  25.45


                         75%    max
Gender Continent
Female Asia           21.900   21.9
       Europe         33.600   42.2
       North America  29.200   46.0
       Oceania        17.400   17.4
       South America  16.300   16.3
Male   Africa         14.100   14.1
       Asia           20.100   45.3
       Europe         23.575   72.0
       North America  56.375  112.0
       South America  26.425   27.4

[10 rows x 24 columns]